
div.interface{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;

    width: 100%;
    min-height: 100vh;
    background-color: #1D1D1B;
    color: #fff;
}

h1{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    margin-top: 60px;
}

h1 img{
    width: 60%;
}

p{
    max-width: 520px;
    margin: 32px 0 16px 0;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    line-height: 1.4em;
}

div.sociaux img{
    width: 32px;
    padding: 16px;
}